.sidebar {
  flex: 1;
  background-color: #090909;

  @media screen {
    @media (max-width: 1300px) {
      height: 100vh;
      width: 100vw;
    }
  }

  // @media screen {
  //   @media (max-width:500px) {
  //     display: none;
  //   }
  // }
}
